
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-content [scrollEvents]="true">
  <header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
          <img src="assets/images/posteTunis.jpg" width="" height="" class="w-100 rounded">
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
       <!--
 <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-end">
                <div class="widget-header  me-3">
                    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">0</span>
                </div>
                <div class="widget-header icontext">
                    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                    <div class="text">
                        <span class="text-muted">Welcome!</span>
                       
                        <div> 
                            <a href="/maps">Sign in</a> |  
                            <a href="/login"> Agence</a>
                        </div>
                        // 
                    </div>
                </div>
    
            </div> <!*-- widgets-wrap.// --*>
          </div>

       -->
         <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
      <div class="container">
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
               <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/maps">Nous trouver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partner">Partenariat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">Informations</a>
            </li>
           
           
            
          </ul>
        </div> <!-- collapse .// -->
      </div> <!-- container .// -->
    </nav>
    
    </header> <!-- section-header.// -->
    
    
    <!-- ========================= SECTION MAIN ========================= -->
   

    
      <ion-list >
        <ion-item>
          <p color="primary">1847 : création de la première distribution des Postes à Tunis.</p>
        </ion-item>
        <ion-item>
          <p color="primary">14 septembre 1848 : inauguration du premier réseau télégraphique aérien reliant le Bardo, siège officiel du gouvernement beylical, avec Tunis et la Goulette.</p>
        </ion-item>
        <ion-item>
          <p color="primary">01 août 1869 : transformation des distributions des Postes établies à Tunis et à la Goulette en bureaux de télégraphe et remises au receveur.</p>
        </ion-item>
        <ion-item>
          <p color="primary">01 janvier 1875 : ouverture de la première recette de poste de plein exercice à Tunis.</p>
        </ion-item>
        <ion-item>
          <p color="primary">01 juin 1878 : adhésion de la Tunisie à l'Union Postale Universelle (UPU).</p>
        </ion-item>
        <ion-item>
          <p color="primary">01 avril 1884 : ouverture du Service de l'épargne en Tunisie.</p>
        </ion-item>
        <ion-item>
          <p color="primary">01 juillet 1888 : création de l'Office Tunisien des Postes et des Télégraphes.</p>
        </ion-item>
        <ion-item>
          <p color="primary">02 juillet 1888 : émission du premier timbre-poste tunisien.</p>
        </ion-item>
        <ion-item>
          <p color="primary">11 juin 1892 : inauguration de l'Hôtel des Postes de Tunis.</p>
        </ion-item>
        <ion-item>
          <p color="primary">1895 : démarrage du service de transport du courrier en voiture.</p>
        </ion-item>
        <ion-item>
          <p color="primary">27 mai 1918 : ouverture du Service des Comptes Courants Postaux en Tunisie.</p>
        </ion-item>
        <ion-item>
          <p color="primary">28 août 1956 : création de la Caisse d'Epargne Nationale Tunisienne.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Juillet 1967 : création du premier centre de tri sis à l'avenue de la République.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Mars 1968 : introduction de l'informatique dans la poste.</p>
        </ion-item>
        <ion-item>
          <p color="primary">20 mars 1980 : l'utilisation du Code Postal en Tunisie.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Mai 1982 : introduction du service Rapid-Poste EMS en Tunisie.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Janvier 1984 : construction et mécanisation du complexe postal de Tunis-Carthage.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Janvier 1996 : démarrage de l'aéropostal.</p>
        </ion-item>
        <ion-item>
          <p color="primary">07 novembre 1997 : les timbres-poste sur internet : www.tunisia-stamps.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">Décembre 1997 : fabrication locale du premier timbre-poste tunisien à « l'imprimerie de la Poste Tunisienne ».</p>
        </ion-item>
        <ion-item>
          <p color="primary">02 juin 1998 : promulgation du Code de la Poste réglementant l'exercice de l'activité postale.</p>
        </ion-item>
        <ion-item>
          <p color="primary">15 juin 1998 : création de l'Office National des Postes, dénommé « La Poste Tunisienne », sous la forme d'une entreprise publique à caractère industriel et commercial dotée de l'autonomie financière et de la personnalité morale (démarrage de son activité le 01 janvier 1999).</p>
        </ion-item>
        <ion-item>
          <p color="primary">Mai 1999 : première galerie marchande des timbres-poste tunisiens.</p>
        </ion-item>
        <ion-item>
          <p color="primary">22 novembre 1999 : élaboration de l'Organigramme de l'Office National des Postes bâti sur la dimension commerciale, l'ouverture des horizons pour les cadres et agents, la décentralisation, la création et le renforcement des entités par produit…</p>
        </ion-item>
        <ion-item>
          <p color="primary">27 décembre 1999 : approbation du Statut Particulier du Personnel de l'Office National des Postes.</p>
        </ion-item>
        <ion-item>
          <p color="primary">29 août 2000 : lancement de la première monnaie électronique tunisienne par la Poste Tunisenne : e - DINAR</p>
        </ion-item>
        <ion-item>
          <p color="primary">07 novembre 2000 : lancement sur Internet du portail de la Poste : www.poste.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">Janvier 2001 : mise en service du centre d'appel de la Poste Tunisienne 1828.</p>
        </ion-item>
        <ion-item>
          <p color="primary">31 Mai 2002 : La Poste Tunisienne a obtenu le Prix Présidentiel de la Meilleure Entreprise Economique qualifiée par ses activités culturelles et sociales.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Août 2002 : certification assurance qualité ISO 9002 du réseau Rapid-Poste.</p>
        </ion-item>
        <ion-item>
          <p color="primary">Novembre 2002 : lancement de la carte de paiement sur Internet « e-DINARPOST » pour les titulaires de comptes courants postaux.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2002 : Création de l’école de formation à distance via Internet : www.postelearning.poste.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">2003 : Lancement des nouveaux services sur Internet :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Paiement des factures : www.fatouranet.poste.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">Transmission de messages urgents sécurisés : www.webtelegram.poste.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">e-banking : www.ccpnet.poste.tn</p>
        </ion-item>
        <ion-item>
          <p color="primary">2004 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Obtention par le réseau Rapid-Poste de la certification de conformité de son système management de la Qualité selon les exigences de la norme ISO 9001 version 2000</p>
        </ion-item>
        <ion-item>
          <p color="primary">Obtention de la certification de gestion de la qualité du courrier International niveau A- délivrée par l’UPU</p>
        </ion-item>
        <ion-item>
          <p color="primary">2005 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Attribution à la Poste Tunisienne du Prix Présidentiel du Progrès Social</p>
        </ion-item>
        <ion-item>
          <p color="primary">2006 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Obtention de la certification ISO 9001 pour le réseau Colis Postaux</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement de nouveaux produits d'épargnes liés à l'assurance-vie "Postassurance"</p>
        </ion-item>
        <ion-item>
          <p color="primary">2007 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Démarrage de la plate-forme SMS " M-poste" au profit des clients de la Poste Tunisienne</p>
        </ion-item>
        <ion-item>
          <p color="primary">2008 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement de la carte à puce e-DINAR SMART</p>
        </ion-item>
        <ion-item>
          <p color="primary">2009 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Développement d'une plate-forme de messagerie électronique M@ilPost pour fournir aux citoyens des adresses électroniques sécurisées et personnalisées.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2010 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Création d'un nouveau service Mobi-dinar permettant aux détenteurs de cartes e-DINAR SMART de bénéficier d'une large gamme de services électroniques via leur téléphone portable.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2011 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Création de la plateforme de commerce électronique e-boutique.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2012 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Développement d'un nouveau service Digiposte pour la conservation et la transmission des documents administratifs en ligne.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2013 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement de la plateforme Tunisian Cloud, offrant des services d'hébergement et de stockage de données en ligne.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2014 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Introduction du service de paiement en ligne « e-DINARPAY ».</p>
        </ion-item>
        <ion-item>
          <p color="primary">2015 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Développement du service e-recommandé pour l'envoi de courrier recommandé en ligne.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2016 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement du service e-commerce Cash-on-Delivery (COD) permettant le paiement à la livraison.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2017 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Développement de l'application mobile « La Poste Mobile » pour offrir une gamme de services accessibles via les smartphones.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2018 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement du service e-PosteBox permettant aux clients de recevoir leur courrier numériquement.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2019 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Introduction du service Mobile Money pour les transactions financières via téléphone portable.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2020 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement du service e-DINAR Entreprises pour les transactions financières électroniques des entreprises.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2021 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Introduction du service e-Courrier permettant l'envoi et la réception de courrier électronique.</p>
        </ion-item>
        <ion-item>
          <p color="primary">2022 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Développement du service de livraison express "Poste Express".</p>
        </ion-item>
        <ion-item>
          <p color="primary">2023 :</p>
        </ion-item>
        <ion-item>
          <p color="primary">Lancement du service de suivi des envois "Track & Trace" permettant aux clients de suivre leurs colis en ligne.</p>
        </ion-item>
      </ion-list>
   
    








    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y bg">
      <div class="container">
      
      <div class="row">
      <div class="col-md-6">
          <h3>Disponibilité</h3>
          <p>Notre application incroyable pour vous faciliter la vie</p>
      </div>
      <div class="col-md-6 text-md-end">
          <a href="#"><img src="assets/images/store.png" height="60"></a>
  
      </div>
      </div> <!-- row.// -->
      </div><!-- container // -->
      </section>
      <!-- ========================= SECTION  END// ======================= -->
      
      
      
      <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer border-top bg">
      <div class="container">
        <section class="footer-top  padding-y">
          <div class="row">
            <aside class="col-md col-6">
              <h6 class="title">Partenariat</h6>
              <ul class="list-unstyled">
                <li> <a href="/menu">Dhl</a></li>
                <li> <a href="/menu">Moneygram</a></li>
                <li> <a href="/menu">Wester Union</a></li>
                
              </ul>
            </aside>
            <aside class="col-md col-6">
              <h6 class="title">Entreprise</h6>
              <ul class="list-unstyled">
                <li> <a href="/menu">À propos de nous</a></li>
                
                <li> <a href="/maps">Nous trouver</a></li>
                <li> <a href="/menu">Règles et conditions</a></li>
                
              </ul>
            </aside>
            <aside class="col-md col-6">
              <h6 class="title">Aide</h6>
              <ul class="list-unstyled">
                <li> <a href="/menu">Nous Contacter </a></li>
                <li> <a href="/menu">Remboursement d'argent</a></li> 
                <li> <a href="/menu">Ouvrir une contestation</a></li>
              </ul>
            </aside>
            <aside class="col-md col-6">
              <h6 class="title">Compte</h6>
              <ul class="list-unstyled">
                <li> <a href="/menu"> Utilisateur en ligne </a></li>
                <li> <a href="/menu"> Registre des utilisateurs </a></li>
                <li> <a href="/menu"> Paramètre du compte </a></li>
               
              </ul>
            </aside>
            <aside class="col-md">
              <h6 class="title">Social</h6>
              <ul class="list-unstyled">
                <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
              </ul>
            </aside>
          </div> <!-- row.// -->
        </section>  <!-- footer-top.// -->
        <section class="footer-bottom row">
          <div class="col-md-2">
            <p class="text-muted"> 2023 La Poste Tunisienne </p>
          </div>
          <div class="col-md-8 text-md-center">
            <span  class="px-2">ONP@poste.tn</span>
            <span  class="px-2">+216-5412-0800</span>
            <span  class="px-2">Rue Hedi Nouira, 1023 Tunis.</span>
          </div>
          <div class="col-md-2 text-md-end text-muted">
            <i class="fab fa-lg fa-cc-visa"></i> 
            <i class="fab fa-lg fa-cc-paypal"></i> 
            <i class="fab fa-lg fa-cc-mastercard"></i>
          </div>
        </section>
      </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->
    </ion-content>
  