
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-content [scrollEvents]="true">
  <header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
          <img src="assets/images/posteTunis.jpg" width="" height="" class="w-100 rounded">
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
       <!--
 <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-end">
                <div class="widget-header  me-3">
                    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">0</span>
                </div>
                <div class="widget-header icontext">
                    <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                    <div class="text">
                        <span class="text-muted">Welcome!</span>
                       
                        <div> 
                            <a href="/maps">Sign in</a> |  
                            <a href="/login"> Agence</a>
                        </div>
                        // 
                    </div>
                </div>
    
            </div> <!*-- widgets-wrap.// --*>
          </div>

       -->
         <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
      <div class="container">
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
               <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">À propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/maps">Nous trouver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partner">Partenariat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">Informations</a>
            </li>
           
         
        
        </ul>
      </div> <!-- collapse .// -->
    </div> <!-- container .// -->
  </nav>
  
  </header>
<ion-content class="cards-bg social-cards">

<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>La Poste</h2>
    <p>Publié le: 12/05/2023 - 17:17</p>
  </ion-item>

  <img src="assets/images/posteInfo.jpg">

  <ion-card-content>
    <p>Une convention portant sur le développement d’un système informatique de gestion intégrée pour la poste tunisienne (ERP), a été signée  entre le ministère des Technologies de la Communication d’une part et le Groupe Inetum et ses partenaires d’autre part.

      Ce projet s’inscrit dans le cadre de la mise en œuvre de la stratégie numérique nationale, notamment dans son axe relatif à la numérisation des institutions de l’Etat et de l’administration. Il vise à restructurer le système informatique de la Poste tunisienne et englobe une solution informatique intégrée pour gérer les domaines d’approvisionnement, de la comptabilité, des ressources humaines, du contrôle de gestion et de la maintenance. Il couvre également, la gestion des services postaux via interfaces, la gestion des relations avec les clients, la gestion et le suivi des projets.
      
      Ce projet financé par la Banque africaine de développement (BAD), permettra de renforcer le rôle social de la Poste et sa contribution à l’inclusion financière dans le pays.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        357 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        44 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
      
    </ion-col>
  </ion-row>

</ion-card>


<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>La Poste</h2>
    <p>Publié le: lun 24/04/2023 - 18:12</p>
  </ion-item>

  <img src="assets/images/posteInfo1.jpeg">

  <ion-card-content>
    <p>Inetum, chef de file du consortium établi avec 3S et BearingPoint, accompagnera La Poste tunisienne dans la mise en place de son Système d’Information

      Le groupe Inetum, leader européen des services et solutions digitales, conclut un accord avec le ministère des technologies de la communication (MTC) pour mener le projet de modernisation du système d’information de La Poste tunisienne à travers le consortium.
      
      Dans un environnement postal africain et mondial en pleine mutation, La Poste Tunisienne accélère sa  transformation, et ce, afin de pouvoir jouer plus efficacement son rôle dans le développement économique du pays. Elle modernise et conforte ainsi son socle d’activités historiques et ses missions de service public et recentre de ce fait son activité sur son cœur de métier.
      
      Le digital, vecteur de développement et d’efficacité pour la Tunisie et La Poste Tunisienne.
      
      C’est donc dans le cadre du projet d’appui à la mise en œuvre de cette ambition et du plan national stratégique « Tunisie Digitale 2020 », qu’Inetum, chef de file du consortium, accompagnera la Poste tunisienne dans la mise en place d’un système d’Information de gestion intégré couvrant les activités métiers (production, pilotage du réseau, transport,… ) et de support (Comptabilité, Gestion Financière, Approvisionnements, GRH, Business Intelligence) au niveau central, régional et local.
      
      La cérémonie de signature s’est tenue jeudi 11 mai 2023 au ministère des technologies de la communication en présence de Monsieur Nizar Ben Neji, ministre des technologies de la communication, et Monsieur Hugues Ruffat, Directeur Area EEMEA Groupe Inetum.
      
      « Nous souhaitons poursuivre notre engagement auprès des services de l’Etat et des grandes entreprises publiques. Il s’agit d’occuper une place de partenaire de référence pour réussir ensemble le développement des régions au service de tous. », déclare Hugues Ruffat.  
      
      « Nous avons la capacité de mener à bien nos missions à travers une meilleure compréhension des métiers et des enjeux de nos clients. Notre savoir-faire nous permet de servir nos ambitions sur les grands projets de modernisation comme nous le faisons déjà sur les projets E-consulat, Identifiant Unique et Etat Civil. » ajoute Syrine Tlili, Directrice Générale d’Inetum en Tunisie.
      </p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        430 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        64 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
      
    </ion-col>
  </ion-row>

</ion-card>


<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>La Poste</h2>
    <p>Publié le: 12/05/2023 - 17:17</p>
  </ion-item>

  <img src="assets/images/laposte.jpg">

  <ion-card-content>
    <p>Dans des déclarations à Radio Express FM, mardi 25 avril, le porte-parole de l’Association tunisienne des petites et moyennes entreprises, Abderrazak Haouasse, s’est déclaré en faveur de l’orientation tendant à permettre à la Poste tunisienne de devenir une banque et de fournir des services bancaires, estimant qu’une telle option pourrait contribuer à résoudre les difficultés rencontrées par les chefs d’entreprises, les artisans et autres opérateurs, d’autant que les retenues opérées par la Poste tunisienne sont transparentes par rapport à celles opérées par les banques, selon lui.

      Il a signalé également la dissémination des bureaux de poste sur l’ensemble du territoire national tunisien et l’expérience dont dispose la Poste.
      Il a néanmoins estimé peu probable qu’avec ces avantages comparatifs, on laisse la Poste devenir une Banque.

Il a critiqué l’inefficacité de la commission de contrôle des activités des banques et de l’observation des règles de la concurrence, qualifiant le secteur bancaire de secteur rentier par excellence.

Il  a noté que la loi de change est aussi accablante et ne favorise pas  la prospérité des petites et moyennes entreprises.

La Poste tunisienne avait déposé une demande, depuis 2019, pour devenir une banque commerciale.
    </p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        346 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        66 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
    
    </ion-col>
  </ion-row>

</ion-card>



<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>La Poste</h2>
    <p>Publié le: 17/02/2023 - 15:17</p>
  </ion-item>

  <img src="assets/images/laposte-tunisie-libye.jpg">

  <ion-card-content>
    <p>Accord de partenariat entre la Poste tunisienne et la Poste libyenne dans plusieurs domaines.
      En vertu de cet accord, les envois internationaux à destination et en provenance de la Poste libyenne bénéficieront d’un meilleur traitement et acheminement.

      Les deux institutions ont aussi convenu de développer ensemble des services financiers, numériques et logistiques.

Sur le volet du partage d’expertise, la Poste tunisienne assurera des sessions de formation au profit des agents et des cadres de la Poste libyenne au Centre de formation postale, ainsi que le développement de la formation postale à distance.

La convention de partenariat a été paraphée le 9 courant au siège de l’Office national des postes par Sami Mekki et Sami Ghezioui, respectivement PDG de la Poste tunisienne et PDG de la Poste libyenne, en présence des membres des Conseils d’administration des deux entreprises publiques.

    </p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        546 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        66 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
     
    </ion-col>
  </ion-row>

</ion-card>

<br>
   <!-- ========================= SECTION  ========================= -->
   <section class="section-name padding-y bg">
    <div class="container">
    
    <div class="row">
    <div class="col-md-6">
        <h3>Disponibilité</h3>
        <p>Notre application incroyable pour vous faciliter la vie</p>
    </div>
    <div class="col-md-6 text-md-end">
        <a href="#"><img src="assets/images/store.png" height="60"></a>

    </div>
    </div> <!-- row.// -->
    </div><!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ======================= -->
    
    
    
    <!-- ========================= FOOTER ========================= -->
  <footer class="section-footer border-top bg">
    <div class="container">
      <section class="footer-top  padding-y">
        <div class="row">
          <aside class="col-md col-6">
            <h6 class="title">Partenariat</h6>
            <ul class="list-unstyled">
              <li> <a href="#">Dhl</a></li>
              <li> <a href="#">Moneygram</a></li>
              <li> <a href="#">Wester Union</a></li>
              
            </ul>
          </aside>
          <aside class="col-md col-6">
            <h6 class="title">Entreprise</h6>
            <ul class="list-unstyled">
              <li> <a href="/menu">À propos de nous</a></li>
              
              <li> <a href="#">Nous trouver</a></li>
              <li> <a href="#">Règles et conditions</a></li>
              
            </ul>
          </aside>
          <aside class="col-md col-6">
            <h6 class="title">Aide</h6>
            <ul class="list-unstyled">
              <li> <a href="#">Nous Contacter </a></li>
              <li> <a href="#">Remboursement d'argent</a></li> 
              <li> <a href="#">Ouvrir une contestation</a></li>
            </ul>
          </aside>
          <aside class="col-md col-6">
            <h6 class="title">Compte</h6>
            <ul class="list-unstyled">
              <li> <a href="#"> Utilisateur en ligne </a></li>
              <li> <a href="#"> Registre des utilisateurs </a></li>
              <li> <a href="#"> Paramètre du compte </a></li>
             
            </ul>
          </aside>
          <aside class="col-md">
            <h6 class="title">Social</h6>
            <ul class="list-unstyled">
              <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
              <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
              <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
              <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
            </ul>
          </aside>
        </div> <!-- row.// -->
      </section>  <!-- footer-top.// -->
      <section class="footer-bottom row">
        <div class="col-md-2">
          <p class="text-muted">   2023 La Poste Tunisienne </p>
        </div>
        <div class="col-md-8 text-md-center">
          <span  class="px-2">info@com</span>
          <span  class="px-2">+216-000-0000</span>
          <span  class="px-2">Street name 123, ABC</span>
        </div>
        <div class="col-md-2 text-md-end text-muted">
          <i class="fab fa-lg fa-cc-visa"></i> 
          <i class="fab fa-lg fa-cc-paypal"></i> 
          <i class="fab fa-lg fa-cc-mastercard"></i>
        </div>
      </section>
    </div><!-- //container -->
  </footer>
  <!-- ========================= FOOTER END // ========================= -->
  </ion-content>

